.totalMyCount_Panel_MyCount {
    width: 100%;
    /* padding-top: 40px; */
    min-height: 100vh;
    background-color: #f9fff9;
}

.totalMyCount_Panel_MyCount>div {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    display: flexbox;
}

/* Image */
.totalMyCount_Panel_MyCount>div>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-top: 12px;
    display: block;
}

.totalMyCount_Panel_MyCount>div>p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}


/* Options */
.totalMyCount_Panel_MyCount>div>div {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.totalMyCount_Panel_MyCount>div>div>div {
}