#root
{
    margin: 0;
    padding: 0;
}
.Register-page-root
{
    width: 100%;
    /* min-height: 100vh; */

    padding-top: 60px;
    /* padding-left: 60px; */
}

/* Formulario */
.Register-page-root>form
{
    margin: auto;
    width: 90%;

    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 0px 3px 3px white;
}


/* form > header */
.Register-page-root>form>h1
{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

/* form > inputs de datos familiares */
.familyName_form_register
{
    width: 80%;
    display: flex;
}
.Component_input_interactive_father
{
    margin-left: 70px;
    /* margin-top: 30px; */
}


/* Selexted register */
.Component_selected_interactive_father
{
    display: inline-flex;
    padding-left: 70px;
}
.Component_selected_interactive_father>p{
    font-size: 16px;

    color: #002200;
    font-weight: 600;
    font-family: calibri;

    letter-spacing: 2px;
}
.Component_selected_interactive_father>select{
    width: 160px;
    height: 30px;

    transform: translateY(40%);
    margin-left: 12px;

    font-size: 18px;

    color: #070707;
    font-family: calibri;
}

/* Fecha de nacimiento */
.date_nacimient_form_register
{
    display: inline-flex;
}
.date_nacimient_form_register>p
{
    color: #002200;
    font-weight: 600;
    font-family: calibri;

    letter-spacing: 2px;
}
.date_nacimient_form_register>input
{
    font-size: 18px;

    color: #070707;
    font-family: calibri;
    height: 30px;
    transform: translateY(30%);
    margin-left: 10px;
}
/* Correo y contraseña */
.createCount-form-Register{
    width: 90%;
    display: flexbox;
}
.createCount-form-Register>div{
    margin-left: 40%;
    margin-top: 20px;
}
/* Button */

.Register-page-root>form>button {
    margin: 22px auto;

    background-color: rgb(46, 177, 184);
    width: 200px;
    height: 50px;

    border: 2px solid black;
    border-radius: 3px;

    margin-left: 40%;

    color: #f0f0f0;
    font-weight: 600;
    font-family: calibri;

    letter-spacing: 2px;
    cursor: pointer;
}

.Register-page-root>form>button:hover {
    background-color: #059475;
    transition: 1s all;
}

/* Profesion oculta */
.profesionalSpecc_form_register
{
    flex-wrap: wrap;
}
.profesionalSpecc_form_register>div
{
    margin-top: 30px;
}