html,
body {
    font-size: 18;
}
.Login-page-root
{
    width: 100%;
    height: 100vh;
    padding-top: 40px;
}

.contenedor-login {
    margin-top: 30px;
    background: #ffffff;
    width: 500px;
    display: block;

    margin: auto;
    padding: 30px 10px;

    align-content: center;
    justify-content: center;
    text-align: center;

    border-radius: 20px;

    box-shadow: 0px 0px 2px 2px white;
}

.contenedor-login>p {
    font-size: 32px;

    color: #002200;
    font-weight: bold;
    font-family: calibri;

    letter-spacing: 2px;
}

.contenedor-login>.formulario-login {
    display: block;
    width: 100%;
}

.contenedor-login>.formulario-login>form {
    width: 100%;
    display: grid;
}

.contenedor-login>.options-login {
    margin-top: 20px;
    display: block;
}


/* button */
.formulario-login>form>button {
    margin: 22px auto;

    background-color: rgb(46, 177, 184);
    width: 200px;
    height: 50px;

    border: 2px solid black;
    border-radius: 3px;

    color: #f0f0f0;
    font-weight: 600;
    font-family: calibri;

    letter-spacing: 2px;
    cursor: pointer;
}

.formulario-login>form>button:hover {
    background-color: #059475;
    transition: 1s all;
}

.Component_input_interactive_father
{
    margin-left: 70px;
}

/* button */

/* a */
.options-login>a {
    font-size: 16px;

    margin-left: 32px;

    text-decoration: none;

    color: #0824bd;
    font-family: calibri;

    letter-spacing: 2px;
    cursor: pointer;
}

/* a */