.root_contact_component{
    width: 100%;
    display: flex;
    cursor: pointer;

    overflow: hidden;

    padding: 5px 0;
    background-color: rgb(223, 190, 190);
}
.root_contact_component:hover{
    background-color: rgb(44, 181, 48);
    transition: 0.3s all;
}
.root_contact_component>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;

    border: 2px solid #003300;
}
.root_contact_component>p{
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;

    font-size: 18px;

    color: #070707;
    font-family: calibri;
}