.totalExplorer_Panel_Explorer
{
    width: 100%;
    /* padding-top: 40px; */
    min-height: 100vh;
    background-color: #fefefe;
}
.totalExplorer_Panel_Explorer>div
{
    width: 100%;
    min-height: 100%;
    padding-top: 40px;
    display: inline-flex;
    /* justify-content:flex-start; */
}

/* explorer */
.explore_Panel_Explorer
{
    width: 80%;
    min-height: 90vh;
    /* background-color: red; */
}



/* Contacts */
.contacts_Panel_Explorer
{
    
    width: 20%;
    height: 100%;

    background-color: rgb(230, 236, 230);
    min-height: 90vh;
    max-height: 93vh;

    border-left:2px solid #111111;

    overflow: scroll;

    position: fixed;
    right: 3px;

    box-shadow: -2px 1px 2px 2px #113311;
}
.contacts_Panel_Explorer>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: underline;
}





/* Chat */
.Chat_panel_ChatPanel_Components
{
    position: absolute;

    margin-right: 12px;
    right: 21%;
    bottom: 0px;
}