div.Chat_panel_ChatPanel_Components {
    width: 300px;
    background-color: rgb(184, 240, 253);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #042db4;

    box-shadow: 0 0 2px 1px #01437d;

    /* padding: 10px 10px; */

    overflow: hidden;
}

/* Parte superior */
div.Chat_panel_ChatPanel_Components>.partSup_ChatPanel_Components {
    width: 100%;
    background-color: #01437d;

    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

div.Chat_panel_ChatPanel_Components>.partSup_ChatPanel_Components>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;

    border: 2px solid #003300;

    margin: 5px;
}

/* Parte media */
div.Chat_panel_ChatPanel_Components>.partMessages_ChatPanel_Components
{
    height: 320px;
    background-color: #efefef;
    
    overflow: scroll;
    
}


/* Parte inferior */
div.Chat_panel_ChatPanel_Components>.partEnvMessage_ChatPanel_Components
{
    height: 50px;
    padding-top: 7px;
    padding-left: 12px;
}
div.Chat_panel_ChatPanel_Components>.partEnvMessage_ChatPanel_Components>input
{
    width: 80%;
    height: 30px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
div.Chat_panel_ChatPanel_Components>.partEnvMessage_ChatPanel_Components>button
{
    height: 36px;
    transform: translateY(12%);
    background-color: #afffff;
    border: 2px solid #111111;
    cursor: pointer;
}
div.Chat_panel_ChatPanel_Components>.partEnvMessage_ChatPanel_Components>button:hover
{
    background-color: #ddffdd;
}