*
{
    margin: 0;
    padding: 0;
}

html, body
{
    font-size: 18;
    /* background-color: #e9e9e9; */
}
.App{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
} 