div.Component_input_interactive_father{
    width: 40%;
    display:grid;
    position: relative;
    
    padding-top: 12px;
    padding-bottom: 20px;

    overflow: visible;

}
div.Component_input_interactive_father>input.Component_input_interactive_email-login
{
    display: flex;
    margin:auto;
    
    height: 32px;
    width: 300px;

    position: absolute;

    background: none;
    border: none;
    outline: 0px;

    border-bottom: 2px solid #002200;

    /* letter */
    font-size: 18px;

    color: #070707;
    font-family: calibri;

    /* letter */
}


div.Component_input_interactive_father>span.Component_input_interactive_span-label-login
{
    position: relative;
    height: 32px;
    width: 300px;

    display: flex;
    pointer-events: none;
    transform: translateY(-15%);
    /* bottom: -6px; */

    font-size: 16px;

    color: #002200;
    font-weight: 600;
    font-family: calibri;

    letter-spacing: 2px;
}

input.Component_input_interactive_email-login:focus ~ span.Component_input_interactive_span-label-login,
input.Component_input_interactive_email-login:valid ~ span.Component_input_interactive_span-label-login
{
    transform: translateY(-90%);
    font-size: 12px;
    transition: 0.3s all;
} 
input.Component_input_interactive_email-login:focus
{
    border-bottom: 3px solid #005500;
    transition: 0.3s all;
}