div.Component_label_interactive_father{
    width: 300px;
    display:grid;
    position: relative;
    
    padding-top: 12px;
    padding-bottom: 20px;

    overflow: visible;
    
}
div.Component_label_interactive_father>label.Component_label_interactive_email-login
{
    display: flex;
    margin:auto;
    
    height: 32px;
    width: 300px;

    position: absolute;

    background: none;
    border: none;
    outline: 0px;

    border-bottom: 2px solid #002200;

    /* letter */
    font-size: 18px;

    color: #070707;
    font-family: calibri;
    overflow: hidden;
    /* letter */
}


div.Component_label_interactive_father>span.Component_label_interactive_span-label-login
{
    position: relative;
    height: 32px;
    width: 300px;

    display: flex;
    pointer-events: none;
    transform: translateY(-15%);
    /* bottom: -6px; */

    color: #002200;
    font-weight: 600;
    font-family: calibri;

    letter-spacing: 2px;

    /* letter */
    transform: translateY(-90%);
    font-size: 12px;
    transition: 0.3s all;
}

label.Component_label_interactive_email-login:focus
{
    border-bottom: 3px solid #005500;
    transition: 0.3s all;
}