div.message_panel_Message_Components
{
   margin: 16px 12px;

    display: flexbox;
    position: relative;
}

div.message_panel_Message_Components>div{
    width: 70%;
    height: auto;
    /* 
    recibido: 
    background-color: #00aadd;
    enviado:
    background-color: #077191;  */

    border-radius: 10px;
    padding: 5px;
    display: flex;
    /* background-color: #03a582; */
    /* float: right; */
}


div.message_panel_Message_Components>div>label
{
    width: 100%;
    font-size: 14px;
    text-align: justify;
    height: 100%;
}

div.message_panel_Message_Components>span
{
    font-size: 12px;
    transform: translateY(12%);
    width: 100%;
    height: 50px;
}