header.header_component_header
{
    position:fixed;
    width: 100%;
    height: 40px;
    /* display: inline-block; */
}
header>nav.options_component_header
{
    /* position:relative; */
    height: 100%;
    margin-right: 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

ul, li{
    list-style: none;
    text-decoration: none;
}

/* Navigator */
header>nav.options_component_header>ul
{
    width: auto;
    height: 100%;
    
    /* position:relative; */
    margin-right: 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
header>nav.options_component_header>ul>li
{
    margin-right: 40px;

    height: 80%;
    cursor: pointer;
    padding: 2px 12px;
    border-radius: 10px;

    color: #002200;
    font-weight: 600;
    font-family: calibri;

    letter-spacing: 2px;

    text-shadow: 0 0 3px #00ff00;
    /* background-color: red; */
}
header>nav.options_component_header>ul>li:hover
{
    background-color: #049e53;
    box-shadow: 0 0 3px 1px #0a7e36;
    transition: 0.3s all;
}

header>nav.options_component_header>img
{
    height: 60px;
    width: 60px;
    margin-left: 12px;
    transform: translateY(20px);
    border-radius: 50%;    
}